.goals-list {
  list-style: none;
  width: 100%;
  padding: 0;
}

.goals-list li {
  list-style: none;
  padding: 2%;
  margin: 0.5rem 2%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  background-color: #ffffff;
}
